
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 84% 4.9%; /* Rich Navy */
    --foreground: 210 40% 98%; /* Off-White */

    --card: 217 32.6% 17.5%; /* Slate Gray */
    --card-foreground: 210 40% 98%;

    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%; /* Off-White */
    --primary-foreground: 222 84% 4.9%; /* Rich Navy */

    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%; /* Gray */

    --accent: 217.2 32.6% 25.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 40% 98%;
    --input: 217 32.6% 17.5%;
    --ring: 210 40% 98%; /* Off-white for ring */

    --radius: 0.75rem;
  }

  .dark {
    --background: 222 84% 4.9%; /* Rich Navy */
    --foreground: 210 40% 98%; /* Off-White */

    --card: 217 32.6% 17.5%; /* Slate Gray */
    --card-foreground: 210 40% 98%;

    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%; /* Off-White */
    --primary-foreground: 222 84% 4.9%; /* Rich Navy */

    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%; /* Gray */

    --accent: 217.2 32.6% 25.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 40% 98%;
    --input: 217 32.6% 17.5%;
    --ring: 210 40% 98%; /* Off-white for ring */
  }

  .light {
    --background: 0 0% 100%; /* White */
    --foreground: 222 84% 4.9%; /* Rich Navy */

    --card: 0 0% 96%; /* Light Gray */
    --card-foreground: 222 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 4.9%;

    --primary: 222 84% 4.9%; /* Rich Navy */
    --primary-foreground: 210 40% 98%; /* Off-White */

    --secondary: 0 0% 96%;
    --secondary-foreground: 222 84% 4.9%;

    --muted: 0 0% 96%;
    --muted-foreground: 215 20.2% 65.1%; /* Gray */

    --accent: 0 0% 94%;
    --accent-foreground: 222 84% 4.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222 84% 4.9%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body), sans-serif;
    line-height: 1.6em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2em;
    font-family: var(--font-headline), sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}
